.note-form {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    width:90%;
    height:50px;
    padding:8px;
    font-size:2rem;
    border:none;
    outline:none;
    overflow:scroll;
    overflow-x:hidden;
    background:none;
    border-bottom: 1px solid lightgray;
}

.content {
    padding:8px;
    margin-top:8px;
    width:90%;
    height: clamp(200px,400px, 800px);
    border:none;
    outline:none;
    overflow:scroll;
    overflow-x:hidden;
    background:none;
}

.submit {
    padding:4px;
}