.new-note-button {
    border: 1px solid gray;
    border-radius: 10px;
    background:none;
    cursor:pointer;
    padding:16px;
    margin:16px;  
    transition: background .4s;  
    width:200px;
}

.new-note-button:hover {
    background:#eee;

}